@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #171717;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 45px;
    background-color: #18181b;
    width: 500px;
    border: 1px solid #27272a;
    border-radius: 48px;
    margin: 0 40px;
}

section h2 {
    color: #fff;
    font-size: 40px;
    margin: 20px;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    color: #fff;
    font-size: 15px;
    margin-bottom: 4px;
}

form input {
    padding: 10px;
    outline: none;
    border: none;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 5px;
}

form textarea{
    padding: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    resize: none;
}

form button{
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #27272a;
    background-color: #171717;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #bdbdbd;
}

form button:hover{
    background-color: #000;
}






.main {
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.text {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}

.paragrafo{
    color: #fff;
    margin-bottom: 50px;
    font-size: 17px;
}

.btn {
    font-size: 20px;
    padding: 6px 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #FFF;
    background-color: #388e3c;
    border: 1px solid #171717;
    text-decoration: none;
}

.btn:hover  {
    background-color: #4caf50;
}

@media screen and (max-width: 437px){
    .text{
        font-size: 30px;
    }
}